// Default  workflow parameters
// Execution specific profile parameters are found in conf/profiles.config
// mads 2024-02-09

plugins {
    id 'nf-amazon'
    id 'nf-validation@0.2.1'
}

params {

    // ID for VCF output files:
    outputId = ""

    // Table containing pool ids and corresponding FastQ files
    pooltable = ""

    // Table linking pool ids to sample ids
    decodetable = ""

    // Reference genome
    reference_genome = ""

    // Target genes bedfile
    bedfile = ""

    // Experiment ploidy
    ploidy = 96

    // Minimum alternative support for lofreq variants
    // 0 = no filtering
    minAltSupport = 0

    // ONLY run the following step: 'mapping' or 'calling'.
    // If calling - a cramtable is required.
    step = ''
    cramtable = "$projectDir/cramtable.tsv"

    // Optional processes
    doFastqc = false
    doMosdepth = false
    doFlagstat = false

    // Misc (never edit here)
    help = false
    testing = false

}

// Processes should always fail if any pipe element has a non-zero exit code.
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Include execution profiles and reference files

includeConfig 'conf/profiles.config'

// Add additional log and tracing. Trace can be adjusted to specific outputs.

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
}

report {
    enabled = true
    file = 'report.html'
    overwrite = true
}

// Set default branch if running directly from github

manifest {
    defaultBranch = 'main'
}
