// Default  workflow parameters
// Execution specific profile parameters are found in conf/profiles.config
// mads 2024-02-09

params {

    // ID for VCF output files:
    outputId = ""

    // Table containing pool ids and corresponding FastQ files
    pooltable = ""

    // Table linking pool ids to sample ids
    decodetable = ""
    coordtable = ""

    // Reference genome
    reference_genome = ""

    // Target genes bedfile
    bedfile = ""

    // Target regions extraction from truth wgs bam file
    bedfile_bam_extraction = ""

    // Target genes gatk dictfile
    dictfile = ""

    // Downsample to this million reads
    downsample = 0

    // Experiment ploidy
    ploidy = 96
    matrix_size = ploidy / 2

    // Run HaplotypeCaller by intervals
    runHCParallel = true
    intervalList = ["small_ref"]

    // Minimum alternative support for lofreq variants
    // 0 = no filtering
    minAltSupport = 0

    // ONLY run the following step: 'mapping', 'calling' or 'pinpoint'.
    // If calling - a cramtable is required.
    // If pinpoint - a vcftable is required.
    step = ''
    cramtable = "$projectDir/cramtable.tsv"
    vcftable = "$projectDir/vcftable.tsv"

    // UMI processing (opional)
    umi = false

    // Quality control
    fullQC = false
    doFastqc = true

    // Variant calling methods
    lofreq = true
    gatk_joint_calling = true
    crisp = false // Pool only
    octopus = false // Pool only
    deepvariant = false // WGS only

    // Pinpoint method (pilot or new)
    pinpoint_method = 'new'

    // Misc (never edit here)
    help = false
    testing = false

}

// Processes should always fail if any pipe element has a non-zero exit code.
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Include execution profiles and reference files

includeConfig 'conf/profiles.config'

// Add additional log and tracing. Trace can be adjusted to specific outputs.

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
}

report {
    enabled = true
    file = 'report.html'
    overwrite = true
}

// Set default branch if running directly from github

manifest {
    defaultBranch = 'main'
}
