// Default container paths
// mads 2024-02-09

// Base container image for shell scripts
process {
    container = 'ubuntu:20.04'
}

params {
    'container' {
        gatk = "quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0"
        samtools = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
        fastqc = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
        bwa = "quay.io/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0"
        bbmap = "quay.io/biocontainers/bbmap:38.89-h1296035_0"
        fgbio = "quay.io/biocontainers/fgbio:1.5.1-0"
        multiqc = "quay.io/biocontainers/multiqc:1.26--pyhdfd78af_0"
        mosdepth = "quay.io/biocontainers/mosdepth:0.3.10--h4e814b3_1"
        lofreq = "quay.io/biocontainers/lofreq:2.1.5--py37h3a01142_1"
        bcftools = "quay.io/biocontainers/bcftools:1.19--h8b25389_1"
        pinpy = "madscort/dswf_pinpy:1.0"
        snpeff = "quay.io/biocontainers/snpeff:4.3--2"
        sambamba = "quay.io/biocontainers/sambamba:1.0.1--h6f6fda4_1"
        octopus = "quay.io/biocontainers/octopus:0.7.4--hacbf28e_1"
        deepvariant = "quay.io/biocontainers/deepvariant:1.5.0--py36hf3e76ba_0"
        r_env = "rocker/tidyverse:latest"
        filter_variants = "madscort/dswf_filter:1.0"
    }
}