// Default container paths
// mads 2024-02-09

// Base container image for shell scripts
// Docker runoptions fixes ownership confusion in some containers
process {
    container = 'ubuntu:24.04'
    docker.runOptions = '-u $(id -u):$(id -g)'
}

params {
    container {
        docker {
            gatk = "quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0"
            samtools = "quay.io/biocontainers/samtools:1.21--h50ea8bc_0"
            fastqc = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
            bwa = "quay.io/biocontainers/mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6:2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0"
            fgbio = "quay.io/biocontainers/fgbio:1.5.1-0"
            multiqc = "quay.io/biocontainers/multiqc:1.26--pyhdfd78af_0"
            mosdepth = "quay.io/biocontainers/mosdepth:0.3.10--h4e814b3_1"
            lofreq = "quay.io/biocontainers/lofreq:2.1.5--py37h3a01142_1"
            freebayes = "quay.io/biocontainers/freebayes:1.2.0--py35h82df9c4_2"
            bcftools = "quay.io/biocontainers/bcftools:1.19--h8b25389_1"
            snpeff = "quay.io/biocontainers/snpeff:4.3--2"
            snpsift = "quay.io/biocontainers/snpsift:5.1d--hdfd78af_0"
            sambamba = "quay.io/biocontainers/sambamba:1.0.1--h6f6fda4_1"
            deepvariant = "quay.io/biocontainers/deepvariant:1.5.0--py36hf3e76ba_0"
            
            // Custom and non-singularity containers
            octopus = "quay.io/biocontainers/octopus:0.7.4--hacbf28e_1"
            bbmap = "community.wave.seqera.io/library/bbmap_pigz:07416fe99b090fa9"
            picard = "community.wave.seqera.io/library/picard:3.4.0--e9963040df0a9bf6"
            r_env = "madscort/dswf_r:1.0"
            pinpy = "madscort/dswf_pinpy:1.0"
            filter_variants = "madscort/dswf_filter:1.0"
            vep = "madscort/vep:111.0"
            marbl = "madscort/marbl:0.6.0"
        }
        singularity {
            gatk = "https://depot.galaxyproject.org-singularity-gatk4-4.5.0.0--py36hdfd78af_0"
            bwa = "https://depot.galaxyproject.org-singularity-mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6-2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0"
            samtools = "https://depot.galaxyproject.org-singularity-samtools-1.20--h50ea8bc_0"
            picard = "https://depot.galaxyproject.org-singularity-picard-3.1.1--hdfd78af_0"
            fastqc = "https://depot.galaxyproject.org-singularity-fastqc-0.12.1--hdfd78af_0"
            fastp = "https://depot.galaxyproject.org-singularity-fastp-0.23.4--h5f740d0_0"
            mosdepth = "https://depot.galaxyproject.org-singularity-mosdepth-0.3.8--hd299d5a_0"
            multiqc = "https://depot.galaxyproject.org-singularity-multiqc-1.23--pyhdfd78af_0"
            deepvariant = "https://depot.galaxyproject.org-nf-core-deepvariant-1.5.0"
            strelka = "https://depot.galaxyproject.org-singularity-strelka-2.9.10--h9ee0642_1"
            freebayes = "https://depot.galaxyproject.org-singularity-freebayes-1.3.6--hbfe0e7f_2"
            lofreq = "https://depot.galaxyproject.org-singularity-lofreq-2.1.5--py38h588ecb2_4"
            manta = "https://depot.galaxyproject.org-singularity-manta-1.6.0--h9ee0642_1"
            bcftools = "https://depot.galaxyproject.org-singularity-bcftools-1.20--h8b25389_0"
            sambamba = "https://depot.galaxyproject.org/singularity/sambamba:1.0.1--h6f6fda4_0"
            snpeff = "https://depot.galaxyproject.org-singularity-snpeff-5.1--hdfd78af_2"
            snpsift = "https://depot.galaxyproject.org/singularity/snpsift:5.1d--hdfd78af_0"
            bedtools = "https://depot.galaxyproject.org-singularity-bedtools-2.31.1--hf5e1c6e_0"
            sentieon = "https://depot.galaxyproject.org-singularity-sentieon-202308.02--h43eeafb_0"
            fgbio = "https://depot.galaxyproject.org-singularity-fgbio-2.1.0--hdfd78af_0"
            bbmap = "https://depot.galaxyproject.org/singularity/bbmap:38.22--h14c3975_1"

            // Custom and non-singularity containers
            octopus = "quay.io/biocontainers/octopus:0.7.4--hacbf28e_1"
            bbmap = "community.wave.seqera.io/library/bbmap_pigz:07416fe99b090fa9"
            picard = "community.wave.seqera.io/library/picard:3.4.0--e9963040df0a9bf6"
            r_env = "madscort/dswf_r:1.0"
            pinpy = "madscort/dswf_pinpy:1.0"
            filter_variants = "madscort/dswf_filter:1.0"
            vep = "madscort/vep:111.0"
            marbl = "madscort/marbl:0.6.0"
        }
    }
}
