// Execution specific profile parameters for DoBSeq pipeline
// mads 2024-03-06

// Base configuration with standard error strategy.

process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2
}

profiles {
    standard {
        conda.enabled = true

        params {
            outputDir = "results"
        }
        process {
            executor = 'local'

            // UMI mapping:

            withName: UBAM {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: EXTRACT_UMI {
                conda = "$projectDir/envs/fgbio/environment.yaml"
                cpus = 1
            }

            withName: FASTQ {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: MERGEBAM {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: HSMETRICS {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: GROUP_UMI {
                conda = "$projectDir/envs/fgbio/environment.yaml"
                cpus = 1
            }

            withName: CALL_CONSENSUS {
                conda = "$projectDir/envs/fgbio/environment.yaml"
                cpus = 1
            }

            withName: MERGE_CONSENSUS {
                conda = "$projectDir/envs/fgbio/environment.yaml"
                cpus = 1
            }

            withName: FASTQC {
                conda = "$projectDir/envs/fastqc/environment.yaml"
                cpus = 1
            }

            withName: MULTIQC {
                conda = "$projectDir/envs/fastqc/environment.yaml"
                cpus = 1
            }

            withName: MOSDEPTH {
                conda = "$projectDir/envs/mosdepth/environment.yaml"
                cpus = 1
            }

            withName: FLAGSTAT {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: ALIGNMENT {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: MARKDUPLICATES {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: CLEAN {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: ADDREADGROUP {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: CRAM {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: BAM {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: INDEX {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: VALIDATE {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: HAPLOTYPECALLER {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: INDELQUAL {
                conda = "$projectDir/envs/lofreq/environment.yaml"
                cpus = 1
            }

            withName: LOFREQ {
                conda = "$projectDir/envs/lofreq/environment.yaml"
                cpus = 1
            }

            withName: FILTER {
                conda = "$projectDir/envs/bcftools/environment.yaml"
                cpus = 1
            }
            
            withName: PINNING {
                conda = "$projectDir/envs/r_env/environment.yaml"
                cpus = 1
            }
        }
    }

    esrum {
        params {
            outputDir = "results"
        }

        process {
            executor = 'slurm'
            queueSize = 10

            withName: FASTQC {
                module = ['openjdk/20.0.0','perl/5.38.0','fastqc/0.11.9']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: MOSDEPTH {
                module = ['htslib/1.18','mosdepth/0.3.3']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: FLAGSTAT {
                module = ['samtools/1.17']
                cpus = 1
                memory = 3.GB
                time = 2.hour
            }

            withName: MULTIQC {
                module = ['anaconda3/2021.11']
                cpus = 1
                memory = 4.GB
                time = 1.hour
            }

            withName: ALIGNMENT {
                module = ['bwa-mem2/2.2.1','samtools/1.17']
                cpus = 40
                memory = 160.GB
                time = 2.hour
            }

            withName: MARKDUPLICATES {
                module = ['python/3.11.3','openjdk/17.0.8','gatk/4.4.0.0']
                cpus = 1
                memory = 10.GB
                time = 2.hour
            }

            withName: CLEAN {
                module = ['samtools/1.17']
                cpus = 1
                memory = 3.GB
                time = 2.hour
            }

            withName: ADDREADGROUP {
                module = ['python/3.11.3','openjdk/17.0.8','gatk/4.4.0.0']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: CRAM {
                module = ['samtools/1.17']
                cpus = 1
                memory = 3.GB
                time = 2.hour
            }


            withName: BAM {
                module = ['samtools/1.17']
                cpus = 1
                memory = 3.GB
                time = 2.hour
            }

            withName: INDEX {
                module = ['samtools/1.17']
                cpus = 1
                memory = 3.GB
                time = 2.hour
            }

            withName: VALIDATE {
                module = ['python/3.11.3','openjdk/17.0.8','gatk/4.4.0.0']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: HAPLOTYPECALLER {
                module = ['python/3.11.3','openjdk/17.0.8','gatk/4.4.0.0']
                cpus = 2
                memory = 8.GB
                time = 2.hour
            }

            withName: INDELQUAL {
                module = ['python/3.9.9', 'libdeflate/1.18', 'htslib/1.18', 'lofreq/2.1.3.1']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: LOFREQ {
                module = ['python/3.9.9', 'libdeflate/1.18', 'htslib/1.18', 'lofreq/2.1.3.1']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: FILTER {
                module = ['gsl/2.5', 'perl/5.38.0', 'bcftools/1.16']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }
            
            withName: PINNING {
                beforeScript = "export R_LIBS=$projectDir/.rpack"
                module = ['gcc/11.2.0','R/4.3.0']
                cpus = 1
                memory = 10.GB
                time = 1.hour
            }
        }
    }

    ngc {
        params {
            outputDir = "results"
            project = "icope_staging_r"
            cacheDir = "/ngc/projects2/dp_00005/scratch/nextflow"
        }

        process {
            executor = 'local'
            queueSize = 30
            beforeScript = "export _JAVA_OPTIONS=-Djava.io.tmpdir=$params.cacheDir"
            clusterOptions = "-A $params.project -W group_list=$params.project"
            
            withLabel: 'low_req' {
                executor = 'local'
            }

            withName: FASTQC {
                module = ['tools','perl/5.20.1','fastqc/0.11.8']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: MOSDEPTH {
                module = ['tools','htslib/1.16','mosdepth/0.3.3']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: FLAGSTAT {
                module = ['tools','samtools/1.18']
                cpus = 2
                memory = 3.GB
                time = 2.hour
            }

            withName: MULTIQC {
                module = ['tools','anaconda3/2021.11']
                cpus = 1
                memory = 4.GB
                time = 1.hour
            }

            withName: ALIGNMENT {
                module = ['tools', 'intel/perflibs/2020_update4','bwa-mem2/2.2.1','samtools/1.18']
                cpus = 40
                memory = 160.GB
                time = 2.hour
            }

            withName: MARKDUPLICATES {
                module = ['tools','java/1.8.0-openjdk','gatk/4.3.0.0']
                cpus = 20
                memory = 40.GB
                time = 2.hour
            }

            withName: CLEAN {
                module = ['tools','samtools/1.18']
                cpus = 2
                memory = 3.GB
                time = 2.hour
            }

            withName: ADDREADGROUP {
                module = ['tools','java/1.8.0-openjdk','gatk/4.3.0.0']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: CRAM {
                module = ['tools','samtools/1.18']
                cpus = 2
                memory = 3.GB
                time = 2.hour
            }

            withName: BAM {
                module = ['tools','samtools/1.18']
                cpus = 2
                memory = 3.GB
                time = 2.hour
            }

            withName: INDEX {
                module = ['tools','samtools/1.18']
                cpus = 2
                memory = 3.GB
                time = 2.hour
            }

            withName: VALIDATE {
                module = ['tools','java/1.8.0-openjdk','gatk/4.3.0.0']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: HAPLOTYPECALLER {
                module = ['tools','java/1.8.0-openjdk','gatk/4.3.0.0']
                cpus = 2
                memory = 8.GB
                time = 2.hour
            }

            withName: INDELQUAL {
                module = ['tools','anaconda2/4.0.0','lofreq/2.1.3.1']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: LOFREQ {
                module = ['tools','anaconda2/4.0.0','lofreq/2.1.3.1']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }

            withName: FILTER {
                module = ['tools','bcftools/1.16']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }
            
            withName: PINNING {
                module = ['tools','gcc/7.4.0','intel/perflibs/2020_update4','apache-arrow/11.0.0_CPP','R/4.3.0']
                cpus = 1
                memory = 10.GB
                time = 1.hour
            }
            
            withName: TEST {
                module = ['tools','anaconda3/2023.03']
                cpus = 1
                memory = 10.GB
                time = 1.hour
            }
        }
    }

    test {
        params {
            ploidy = 2
            testing = true
            pooltable = "$projectDir/assets/data/test_data/pooltable.tsv"
            decodetable = "$projectDir/assets/data/test_data/decodetable.tsv"
            reference_genome = "$projectDir/assets/data/reference_genomes/small/small_reference"
            bedfile = "$projectDir/assets/data/test_data/target_calling.bed"
            snv_list = "$projectDir/assets/data/test_data/snvlist.tsv"
        }
    }

    simulation {
        params {
            simID = "sim_2x2"
            ploidy = 2
            testing = true
            pooltable = "$projectDir/assets/data/simulated_data/$params.simID/pooltable.tsv"
            decodetable = "$projectDir/assets/data/simulated_data/$params.simID/decodetable.tsv"
            reference_genome = "$projectDir/assets/data/reference_genomes/chr1_subset/chr1_subset"
            bedfile = "$projectDir/assets/data/simulated_data/$params.simID/target_calling.bed"
            snv_list = "$projectDir/assets/data/simulated_data/$params.simID/snvlist.tsv"
        }
    }
}
