// Execution specific profile parameters for DoBSeq pipeline
// mads 2024-02-08

// Base configuration with standard error strategy.

process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2
}

profiles {
    standard {
        conda.enabled = true

        params {
            outputDir = "results"
            resourceBase = "./resource_base"
        }
        process {
            executor = 'local'

            withName: FASTQC {
                conda = "$projectDir/envs/fastqc/environment.yaml"
                cpus = 1
            }

            withName: ALIGNMENT {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: MARKDUPLICATES {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: CLEAN {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: ADDREADGROUP {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: INDEX {
                conda = "$projectDir/envs/misc/environment.yaml"
                cpus = 1
            }

            withName: VALIDATE {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: HAPLOTYPECALLER {
                conda = "$projectDir/envs/gatk4/environment.yaml"
                cpus = 1
            }

            withName: INDELQUAL {
                conda = "$projectDir/envs/lofreq/environment.yaml"
                cpus = 1
            }

            withName: LOFREQ {
                conda = "$projectDir/envs/lofreq/environment.yaml"
                cpus = 1
            }
            
            withName: PINNING {
                conda = "$projectDir/envs/r_env/environment.yaml"
                cpus = 1
            }
        }
    }

    ngc {
        params {
            outputDir = "results"
            project = ""
            cacheDir = "/home/projects/$params.project/scratch/nextflow"
        }

        process {
            executor = 'pbs'
            queueSize = 30
            beforeScript = "export _JAVA_OPTIONS=-Djava.io.tmpdir=$params.cacheDir"
            clusterOptions = "-A $params.project -W group_list=$params.project"
            
            withLabel: 'low_req' {
                executor = 'local'
            }

            withName: FASTQC {
                module = ['tools','java/1.8.0-openjdk','perl/5.30.2','fastqc/0.11.9']
                cpus = 1
                memory = 4.GB
                time = 2.hour
            }
        }
    }

    test {
        params {
            pooltable = "$projectDir/assets/test_data/simulated_samples/sim_2x2/pooltable.tsv"
            decodetable = "$projectDir/assets/test_data/simulated_samples/sim_2x2/decodetable.tsv"
            reference_genome = "$projectDir/assets/test_data/reference_genomes/small/small_reference"
            bedfile = "$projectDir/assets/test_data/simulated_samples/sim_2x2/target_calling.bed"
            ploidy = 1
        }
    }
}
