profiles {

    ssi {
        
        conda.enabled = true
        
        params {
            outputDir = "../results"
            cacheDir = "/srv/data/scratch/nf_tmp/"
            reference_genome = "/srv/data/Reference/GATK_bundle/hg38_noScaffoldsMasked/Homo_sapiens_assembly38_noScaffoldsMasked"
            bedfile = "/srv/data/bedFiles/BabyCompare/Target_bases_covered_by_probes_SSI_BabyPrecision-v2p1_1X_TE-95845496_hg38.bed"
            
            snpeff_db = 'GRCh38.99'
            snpeff_config = ""
            snpeff_cache = ""
            vep_cache = "/srv/data/VCF_annotations/VEP/vep"
            clinvar_db = "/srv/data/VCF_annotations/CLINVAR/clinvar.vcf.gz"
            danmac_db        = ""
            blacklist_bed    = "/srv/data/Projects/BabyCompare/vep_optional_annotation/hg38-blacklist.v2.sorted.bed.gz"
            repeatmasker_bed = "/srv/data/Projects/BabyCompare/vep_optional_annotation/repeatmasker.sorted.bed.gz"
            gnomad_vcf       = "/srv/data/Projects/BabyCompare/vep_optional_annotation/baby_compare_gnomad.vcf.bgz"
            utr_file             = "/srv/data/Projects/BabyCompare/vep_optional_annotation/uORF_5UTR_GRCh38_PUBLIC.txt"
            alphamissense_tsv    = "/srv/data/Projects/BabyCompare/vep_optional_annotation/AlphaMissense_hg38.tsv.gz"
            loftee_path          = "/srv/data/Projects/BabyCompare/vep_optional_annotation/loftee"
            loftee_gerp_bw       = "/srv/data/Projects/BabyCompare/vep_optional_annotation/gerp_conservation_scores.homo_sapiens.GRCh38.bw"
            loftee_human_ancestor= "/srv/data/Projects/BabyCompare/vep_optional_annotation/human_ancestor.fa.gz"
            loftee_sqlite        = "/srv/data/Projects/BabyCompare/vep_optional_annotation/loftee.sql"
        }

        process {
            executor = 'local'
            beforeScript = "export _JAVA_OPTIONS=-Djava.io.tmpdir=$params.cacheDir"
            
            resourceLimits = [
                cpus: 5,
                memory: '30.GB'
            ]
            
            // Base configuration for unlabelled process
            cpus   = { 2      * task.attempt }
            memory = { 6.GB   * task.attempt }
            time   = { 4.h    * task.attempt }
            
            // Labelled configurations
            withLabel:process_single {
                cpus   = { 1                   }
                memory = { 6.GB * task.attempt }
                time   = { 4.h  * task.attempt }
            }

            withLabel:process_low {
                cpus   = { 2     * task.attempt }
                memory = { 12.GB * task.attempt }
                time   = { 4.h   * task.attempt }
            }

            withLabel:process_medium {
                cpus   = { 6     * task.attempt }
                memory = { 36.GB * task.attempt }
                time   = { 8.h   * task.attempt }
            }

            withLabel:process_multi {
                cpus   = { 24    * task.attempt }
                memory = { 30.GB * task.attempt }
                time   = { 8.h   * task.attempt }
            }
        }
    }
}